  /* CSS Styles for Navigation Menu */
  nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 10px;
    font-family: Arial, sans-serif; /* Changed font-family */
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; /* Center the menu items */
    align-items: center;
    height: 100%;
  }

  nav ul li {
    margin-right: 40px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  /* Styles for the panel */
  .panel {
    background-color: #ffffff;
    width: 650px;
    left: 60px;
    padding: 60px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 100px;
  }

  .panel h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .panel p {
    font-size: 19px;
    line-height: 1.5;
  }

  /* Positioning the about container */
  .about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .circle {
    position: relative;
    margin-right: 60px;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
  }

  .circle::before {
    content: "";
    position: absolute;
    top: 0; /* Adjust the position to align with the top of the circle */
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #a0cfe8;
    z-index: -1;
    border-radius: 100px;
  }

  .circle h2 {
    font-size: 32px;
    color: #413c3c; /* Set the text color */
  }
  .circle h3 {
    
    color: #413c3c; /* Set the text color */
  }
  .skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Added */
    flex-direction: row; /* Added */
    flex-wrap: wrap; /* Added */
    justify-content: space-between; /* Added */
    width: 100%; /* Added */
  }

  .skill-list h2 {
    margin-bottom: 25px; /* Added */
    width: 100%; /* Added */
  }

  .skill-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 48%; /* Added */
  }

  .skill-list li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Change the border-radius value to modify the shape */
    margin-right: 10px;
    background-color: #a0cfe8;
    flex-shrink: 0; 
  }



  .skill-list li:last-child::after {
    display: none;
  }


  /* Additional styling for the tray panel */
  .tray-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .tray-panel p {
    font-size: 16px;
    line-height: 1.5;
  }

  


  /* CSS Styles for Slideshow */
  .slideshow-container {
    position: relative;
    width: 100%;
    margin: 80px auto; /* Added margin values */
    overflow: hidden;
    height: 600px;
  }

  .slideshow-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* Center align the image */
    max-width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    object-fit: contain;
  }

  .slideshow-container img.active {
    opacity: 1;
  }
  @media screen and (width: 100px) {
    .slideshow-container {
      max-width: 100%; /* Reduce the maximum width for smaller screens */
    }
  }
  /* Add custom styles for the about box */
  .about-box {
    position: absolute;
    top: 72%;
    right: 60px;
    transform: translateY(-50%);
    width: 600px;
    padding: 20px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }

  /* Style the text inside the about box */
  .about-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-box p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* CSS Styles for Timeline */
  .timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .timeline.active {
    opacity: 1;
    transform: translateY(0);
  }

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #bbb;
    transform: translateX(-50%);
  }

  .timeline-date {
    display: block;
    width: fixed;
    margin-left: 100px;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;

  }
  .timeline-content {
    flex: 1;
    padding: 30px;
    max-width: 40%;
    border-radius: 5px;
    margin-left: 20px;
    background: linear-gradient(to bottom, #312d2d 0% 30%, #f3f3f5 0% 200px);
    background-position: center top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Added */
  }

  .timeline-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: -10px; /* Adjust the value as needed */
    border-radius: 5px;
    color: #f5f5f5;
  }

  .timeline-content p {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
  }

  .timeline-right {
    flex-direction: row-reverse;
  }

  .timeline-right .timeline-content {
    margin-left: 0;
    margin-right: 20px;
  }

  .timeline-right .timeline-date {
    margin-left: 20px;
    margin-right: 100px;
  }

  /* CSS Styles for Timeline Circle */
  .timeline-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #bbb;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Added */
  }
  
  .portfolio-heading {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  font-family: Arial, sans-serif;
}