<!DOCTYPE html>
<html>
<head>
  <title>Toxicity Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    /* Additional CSS Styles for Toxicity page */
    /* Add your custom styles for the Toxicity page here */
    .panel {
      background-color: #f0f0f0;
      padding: 20px;
      margin: 20px auto;
      max-width: 800px;
    }
    
    .input-panel {
      text-align: center;
    }
    
    .result-panel {
      text-align: center;
    }
  </style>
</head>
<body>
      <!-- Navigation Menu -->
  <nav>
    <ul>
      <li><a href="{{ url_for('views.home') }}">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="{{ url_for('views.toxicity') }}">Toxicity</a></li> <!-- Link to the Toxicity page route -->
      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#login" class="button">Login</a></li>
      <li class="right"><a href="#register" class="button">Register</a></li>
    </ul>
  </nav>

  <!-- Input Panel -->
  <form action="{{ url_for('views.process_string') }}" method="POST">
    <div class="panel input-panel">
      <h2>Find who you vote!!:</h2>
      <input type="text" id="input-string" name="input_string" />
      <button type="submit">Submit</button>
    </div>
  </form>
  
  <!-- Result Panel -->
  <div class="panel result-panel">
    <h2>Result:</h2>
    <p>{{ result1 }}</p>
    <p>{{ result2 }}</p>
  </div>
  
  <script>

  </script>
</body>
</html>
